{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Readit.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <script nonce="3352cd19-3d2c-4b68-95fa-87b78499a8e8">(function (w, d) {
        !function (a, e, t, r) {
            a.zarazData = a.zarazData || {}, a.zarazData.executed = [], a.zarazData.tracks = [], a.zaraz = {deferred: []}, a.zaraz.track = (e, t) => {
                for (key in a.zarazData.tracks.push(e), t) a.zarazData["z_" + key] = t[key]
            }, a.zaraz._preSet = [], a.zaraz.set = (e, t, r) => {
                a.zarazData["z_" + e] = t, a.zaraz._preSet.push([e, t, r])
            }, a.addEventListener("DOMContentLoaded", (() => {
                var t = e.getElementsByTagName(r)[0], z = e.createElement(r), n = e.getElementsByTagName("title")[0];
                n && (a.zarazData.t = e.getElementsByTagName("title")[0].text), a.zarazData.w = a.screen.width, a.zarazData.h = a.screen.height, a.zarazData.j = a.innerHeight, a.zarazData.e = a.innerWidth, a.zarazData.l = a.location.href, a.zarazData.r = e.referrer, a.zarazData.k = a.screen.colorDepth, a.zarazData.n = e.characterSet, a.zarazData.o = (new Date).getTimezoneOffset(), z.defer = !0, z.src = "../../cdn-cgi/zaraz/sd0d9.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))), t.parentNode.insertBefore(z, t)
            }))
        }(w, d, 0, "script");
    })(window, document);</script>
</head>
<body>

{% include 'navbar.html' %}

{% block content %}

{% endblock %}

{% include 'footer.html' %}




<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate.js' %}"></script>
<script>eval(mod_pagespeed_qcL_6881BX);</script>
<script>eval(mod_pagespeed_ydsl4cdfHa);</script>
<script>eval(mod_pagespeed_OFxX3c850J);</script>
<script src="{% static 'js/jquery.easing.js' %}"></script>
<script>eval(mod_pagespeed_RrJrXcA2BN);</script>
<script>eval(mod_pagespeed_iReT0fckTI);</script>
<script src="{% static 'js/jquery.magnific.js' %}"></script>
<script>eval(mod_pagespeed_1pBzn$onrS);</script>
<script>eval(mod_pagespeed_ybtqMEoT_m);</script>
<script>eval(mod_pagespeed_Pz3mrJ_63m);</script>
<script>eval(mod_pagespeed_W6d3NjFla2);</script>
<script>eval(mod_pagespeed_QjqI0dlp4G);</script>
<script>eval(mod_pagespeed_vv5V0CCUE2);</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script>eval(mod_pagespeed_LeCa8CcN8X);</script>
<script>eval(mod_pagespeed_dSHmgkmKhk);</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon='{"rayId":"6f915d4b5e323766","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}'
        crossorigin="anonymous"></script>
</body>
</html>